apiVersion: v1
kind: Secret
metadata:
  name: app-secret
  namespace: cluster-project
type: Opaque
data:
  # echo -n "your_secret_here" | base64
  JWT_ACCESS_SECRET: <base64_encoded_jwt_access_secret>
  JWT_REFRESH_SECRET: <base64_encoded_jwt_refresh_secret>
  REDIS_PASSWORD: <base64_encoded_redis_password>
  MAIL_USER: <base64_encoded_mail_user>
  MAIL_PASS: <base64_encoded_mail_app_password>
